<%- include('../partials/header', { title: 'Login' }) %>

<h2>Login</h2>

<form action="/api/users/login" method="POST">
  <div class="mb-3">
    <input type="email" name="email" class="form-control" placeholder="Email" required>
  </div>

  <div class="mb-3">
    <input type="password" name="password" class="form-control" placeholder="Password" required>
  </div>

  <button class="btn btn-success w-100">Login</button>
</form>

<%- include('../partials/footer') %>